<customer-list *ngIf=!show></customer-list>
<div *ngIf= show style="width:100vw">
    <div  class="search" >
       <input  class="search_input" id="searchbar" (input)="search()" type="text" name="search" placeholder="Search the name here.."> 
    </div>
    <div class="add_button" >
        <button class="new_user" (click)="add($event)">Add User</button>
    </div>
    <div class="list_users"  *ngFor="let details of detail">
      <div  style="font-size: large;" class="users">
        <table >
            <tr>
                <td>
                    <img src="{{details.user.picture.medium}}" class="profile_pic">
                </td>
                <td>
                    <div  class="name" class="details" >{{details.user.name.title}} &nbsp;{{details.user.name.first}} &nbsp;{{details.user.name.last}}
                    </div>
                    <div class="row" style="text-transform:capitalize">{{details.user.gender}}, &nbsp;{{details.user.dob}}
                    </div>
                </td>
            </tr>
        </table>
        </div>
    </div>

</div>
